<main>
  <app-nav-bar logo="logo.svg" />
  <section class="content">
    <h1>Movies, TV shows, and more</h1>
    <p class="slogan">Watch whenever you want wherever you want</p>
    <p>Enter your email to create or restart your subscription</p>
    <div class="input-group">
      <input
        [(ngModel)]="email"
        type="email"
        name="email"
        placeholder="Email Address"
      />
      <button routerLink="/signup">
        <span>Sign Up </span>
        <img src="assets/img/chevron.svg" alt="Arrow" />
      </button>
    </div>
  </section>
  <app-footer />
</main>
