<main>
  <app-nav-bar logo="logo.svg" />
  @if (isSpinnerShowed) {

  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.9)"
    size="large"
    color="#2e3edf"
    type="ball-beat"
    [fullScreen]="true"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
  }
  <section class="content">
    <h1>Movies, TV shows, and more</h1>
    <p class="slogan">Watch whenever you want wherever you want</p>
    <p>Enter your email to create or restart your subscription</p>
    <div class="input-group">
      <input
        [(ngModel)]="email"
        #emailInput="ngModel"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        type="email"
        name="email"
        placeholder="Email Address"
      />
      <button
        [class.hover-effect]="emailInput.valid"
        [disabled]="!emailInput.valid"
        [class.btn-opacity]="!emailInput.valid"
        [style.opacity]="!emailInput.valid ? '0.75' : '1'"
        (click)="sendEmail(email)"
      >
        <span>Sign Up </span>
        <img src="assets/img/chevron.svg" alt="Arrow" />
      </button>
    </div>
  </section>

  <app-footer />
</main>
