<main>
  <app-nav-bar class="app-nav-bar" [login]="isAuthenticated" logo="logo.svg" />
  <section>
    <h1>Imprint</h1>
    <p>
      This page provides legal details about VideoFlix, including corporate
      information and regulatory compliance.
    </p>

    <h2>Information</h2>
    <p>
      Videoflix is a self implemented web site for show casing my ability and my
      knowledge in frontend and backend. Hence, Videoflix is not for commercial
      use and is therefore not registered as a company trademark.
    </p>

    <p><strong>Developer:</strong> Ibrahima Sourabie</p>

    <h2>Contact</h2>
    <p>
      For support and general inquiries, visit our
      <a href="help.html">Help Center</a> or contact us:
    </p>
    <p><strong>Email:</strong> contact&#64;ibrahima-sourabie.com</p>

    <p>Friedbergerstraße, 86163 Augsburg, Germany</p>
    <p>
      <a href="https://www.videoflix.ibrahima-sourabie.com"
        >www.videoflix.ibrahima-sourabie.com</a
      >
    </p>

    <h2>Youth Protection</h2>
    <p>
      VideoFlix is committed to youth protection standards. If you have concerns
      regarding age-appropriate content, please contact Us.
    </p>
    <p><strong>Email:</strong> contact&#64;ibrahima-sourabie.com</p>

    <h2>Disclaimer</h2>
    <p>
      Despite careful content control, we assume no liability for external
      links. The respective operators are responsible for their content.
    </p>
  </section>
  <footer>
    <section>
      <div class="help">
        <h2>Need help?</h2>
        <button>
          <a
            href="https://ibrahima-sourabie.com"
            rel="external nofollow noopener"
            target="_blank"
            >Contact me</a
          >
        </button>
      </div>
      <a class="footer-link">Terms of Use</a>
      <a routerLink="/legal-notice" class="footer-link">Legal Notice</a>
    </section>
  </footer>
</main>
