# See http://help.github.com/ignore-files/ for more about ignoring files.

# Django backend
.pytest_cache/
videoflix_backend/fixtures/__pycache__
videoflix_backend/config
videoflix_backend/videoflix_app/management/commands/__pycache__
videoflix_backend/env
videoflix_backend/linux_env
videoflix_backend/exports
videoflix_backend/media
videoflix_backend/videoflix/__pycache__
videoflix_backend/authentication/__pycache__
videoflix_backend/authentication/tests/__pycache__
videoflix_backend/authentication/api/__pycache__
videoflix_backend/authentication/migrations/__pycache__
videoflix_backend/videoflix_app/__pycache__
videoflix_backend/videoflix_app/api/__pycache__
videoflix_backend/videoflix_app/tests/__pycache__
videoflix_backend/videoflix_app/migrations/__pycache__
videoflix_backend/user/__pycache__
videoflix_backend/user/migrations/__pycache__
videoflix_backend/user/tests/__pycache__
videoflix_backend/user/api/__pycache__
videoflix_frontend/src/assets/videos

# Compiled output
videoflix_frontend/dist
videoflix_frontend/tmp
videoflix_frontend/out-tsc
videoflix_frontend/bazel-out

# Node
videoflix_frontend/node_modules
videoflix_frontend/npm-debug.log
videoflix_frontend/yarn-error.log

# IDEs and editors
videoflix_frontend/.idea/
videoflix_frontend/.project
videoflix_frontend/.classpath
videoflix_frontend/.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
videoflix_frontend/.vscode
videoflix_frontend/.vscode/*
videoflix_frontend/!.vscode/settings.json
videoflix_frontend/!.vscode/tasks.json
videoflix_frontend/!.vscode/launch.json
videoflix_frontend/!.vscode/extensions.json
videoflix_frontend/.history/*

# Miscellaneous
videoflix_frontend/.angular/cache
videoflix_frontend/.sass-cache/
videoflix_frontend/connect.lock
videoflix_frontend/coverage
videoflix_frontend/libpeerconnection.log
videoflix_frontend/testem.log
videoflix_frontend/typings
videoflix_frontend/src/app/modules/config.ts

# System files
videoflix_frontend/.DS_Store
videoflix_frontend/Thumbs.db
