<main>
  <app-nav-bar logo="logo.svg" [login]="true" />
  <div class="video-container">
    <video
      #videoPlayer
      controls
      crossorigin
      playsinline
      poster="assets/videos/the_5th_wave_poster.jpg"
      data-plyr-config='{
        "previewThumbnails": { "enabled": true, "src": "assets/videos/the_5th_wave.vtt" }
      }'
    >
      <source
        src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
        type="video/mp4"
        size="360"
      />
      <source
        src="assets/videos/the_5th_wave_hd480.mp4"
        type="video/mp4"
        size="480"
      />
      <source
        src="assets/videos/the_5th_wave_hd720.mp4"
        type="video/mp4"
        size="720"
      />
      <source
        src="assets/videos/the_5th_wave_hd1080.mp4"
        type="video/mp4"
        size="1080"
      />
      <track
        kind="captions"
        label="English"
        srclang="en"
        src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
        default
      />
      <track
        kind="captions"
        label="Deutsch"
        srclang="de"
        src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
        default
      />
      <track
        kind="captions"
        label="Français"
        srclang="fr"
        src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"
      />
    </video>
    <div class="video-title">The 5th wave:</div>
    <p class="video-description">
      16-year-old Cassie Sullivan tries to survive in a world devastated by the
      waves of an alien invasion that has already decimated the population and
      knocked mankind back to the Stone Age.
    </p>
  </div>
</main>
