<main>
  <app-nav-bar
    class="app-nav-bar"
    logo="logo.svg"
    [login]="true"
    logOut="logout.svg"
    btnText="Log out"
    [isPlayerNav]="true"
  />
  <section>
    <div class="video-container">
      <video
        #videoPlayer
        controls
        crossorigin
        playsinline
        poster="{{ currentVideo?.poster }}"
        data-plyr-config='{
        "previewThumbnails": { "enabled": true, "src": "assets/videos/the_5th_wave.vtt" }
      }'
      >
        <source
          [src]="currentVideo?.video_file_hd480"
          type="video/mp4"
          size="480"
        />
        <source
          [src]="currentVideo?.video_file_hd720"
          type="video/mp4"
          size="720"
        />
        <source
          [src]="currentVideo?.video_file_hd1080"
          type="video/mp4"
          size="1080"
        />
        <track
          kind="captions"
          label="English"
          srclang="en"
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
          default
        />
        <track
          kind="captions"
          label="Deutsch"
          srclang="de"
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
          default
        />
        <track
          kind="captions"
          label="Français"
          srclang="fr"
          src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt"
        />
      </video>
      <div class="video-title">{{ currentVideo?.title }}:</div>
      <p class="video-description">
        16-year-old Cassie Sullivan tries to survive in a world devastated by
        the waves of an alien invasion that has already decimated the population
        and knocked mankind back to the Stone Age.
      </p>
    </div>
    <div class="video-recommendation">
      <h1>Up next</h1>
      <ul class="recommendations">
        <app-video-recommendation [recommendedVideos]="recentVideos" />
      </ul>
    </div>
  </section>
  <div class="categories">
    <app-video-category
      [videos]="recentVideos"
      categoryTitle="New on Videoflix"
    />
    <!-- <app-video-category [videos]="videos" categoryTitle="Drama" />
    <app-video-category [videos]="videos" categoryTitle="Documentary" /> -->
  </div>
  <footer>
    <section>
      <div class="help">
        <h2>Need help?</h2>
        <button>
          <a
            href="https://ibrahima-sourabie.com"
            rel="external nofollow noopener"
            target="_blank"
            >Contact me</a
          >
        </button>
      </div>
      <a routerLink="/legal-notice" class="footer-link">Legal Notice</a>
      <a routerLink="/privacy-policy" class="footer-link">Privacy Policy</a>
    </section>
  </footer>
</main>
