article {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(118, 118, 118);
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    > h2 {
      font-size: 22px;
      line-height: 28.64px;
      color: white;
    }

    > img {
      width: 20px;
      height: 20px;
      filter: invert(19%) sepia(87%) saturate(4447%) hue-rotate(237deg)
        brightness(89%) contrast(96%);
    }
  }

  .video-list {
    display: flex;
    gap: 1rem;
    > li {
      > .video-and-duration {
        position: relative;
        > img {
          border-radius: 12px;
          width: 400.25px;
          aspect-ratio: 16 / 9;
          cursor: pointer;
        }
      }
      > div {
        padding-left: 1rem;
        p {
          font-size: 20px;
          color: white; //rgb(118, 118, 118);
        }
      }
    }
  }
}
