<main>
  <app-nav-bar logo="logo.svg" />
  <app-wrapper class="container">
    <div class="form-group">
      <h1>Reset password</h1>
      <p>
        Create a new password for your
        <span class="videoflix">Videoflix </span> account
      </p>
      <form
        (ngSubmit)="onNewPasswordRequest()"
        #form="ngForm"
        autocomplete="off"
      >
        <div class="password">
          <input
            [(ngModel)]="password"
            #passwordInput="ngModel"
            type="{{ type }}"
            id="password"
            placeholder="Enter a password"
            name="password"
          />

          <img
            (click)="showPassword()"
            src="assets/img/{{ icon }}"
            alt="show password"
          />
        </div>
        <div class="password">
          <input
            [(ngModel)]="confirmPassword"
            type="{{ type_confirm }}"
            #passwordConfirmInput="ngModel"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirm password"
          />
          <img
            (click)="showConfirmPassword()"
            src="assets/img/{{ icon_confirm }}"
            alt="hide password"
          />
          <div class="warning">
            <!-- <img src="assets/img/warning.svg" alt="" /> -->
            <p>Passwords must match</p>
          </div>
        </div>
        <button
          [class.hover_effect]="
            passwordInput.valid && passwordConfirmInput.valid
          "
          [disabled]="!passwordInput.valid || !passwordConfirmInput.valid"
          [style.opacity]="
            !passwordInput.valid || !passwordConfirmInput.valid ? '0.75' : '1'
          "
          type="submit"
        >
          Reset my password
        </button>
      </form>
    </div>
  </app-wrapper>
  <app-footer />
</main>
