{% extends 'base.html' %} {% load static %} {% block content %}

<div class="logo-videoflix">
  <img src="{% static 'img/logo.svg' %}" alt="logo" />
</div>
<h2>Dear {{ username }},</h2>
<p>
  We recently received a request to reset your password. If you made this
  request, please click on the following link to reset your password:
</p>
<a class="reset-link" href="{{ reset_link }}">Reset Password</a>
<p class="para">
  Please note that for security reasons, this link is only valid for 24 hours.
</p>
<p class="para">If you did not make this request, simply ignore this email.</p>
<p class="para">
  Please don't forward this email to others as it contains sensitive
  information.
</p>
<p>Best regards,<br />Your Videoflix team!</p>
{% endblock %}
