main {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  min-height: 100vh;
  height: fit-content;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/assets/img/signup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

.hover_effect:hover {
  opacity: 0.8 !important;
  transition: all 250ms ease-in-out !important;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #2e3edf;
  line-height: 62.5px;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  > div:not(.remember-me) {
    width: 100%;
    text-align: center;
  }
  > .remember-me {
    display: flex;
    gap: 0.5rem;
    max-width: 408px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 19.2px;
  }
  > .email-input-group {
    max-width: 408px;
    width: 100%;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    input {
      max-width: 408px;
      width: 100%;
      color: #2e3edf;
      border-radius: 12px;
      height: 48px;
      border: 2px solid #2e3edf;
      padding: 1rem 1.5rem;
      outline: none;
      &::placeholder {
        color: #2e3edf;
      }
    }
    > .warning {
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: -1.5rem;
      color: #ff002e;
    }
  }

  > .btn-group {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    > .btn {
      font-weight: 700;
      border-radius: 10px;
      margin-top: -0.5rem;
      padding: 0.55rem 1.5rem;
      cursor: pointer;
    }
    > button:not(.btn-demo) {
      border: transparent;
      color: #ffffff;

      background-color: #2e3edf;

      &:hover {
        opacity: 0.8;
        transition: all 250ms ease-in-out;
      }
    }

    > .btn-demo {
      background-color: white;
      color: #2e3edf;
      border: 1.5px solid #2e3edf;
      &:hover {
        background-color: #2e3edf;
        color: #ffffff;
        transition: all 300ms ease-in-out;
      }
    }
  }

  > .password {
    max-width: 408px;
    width: 100%;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      height: 100%;
      color: #2e3edf;
      border-radius: 12px;
      border: 2px solid #2e3edf;
      padding: 1rem 1.5rem;
      outline: none;
      &::placeholder {
        color: #2e3edf;
      }
    }

    > .warning {
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: -1.5rem;
      color: #ff002e;
    }

    img {
      position: absolute;
      right: 1rem;
      cursor: pointer;
      padding: 0.5rem;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.btn-forgot-extra {
  background-color: transparent;
  border: transparent;
  color: #2e3edf;
  font-weight: 700;
  cursor: pointer;
}

.signup-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  > span {
    line-height: 23.44px;
  }
}

@media screen and (width<350px) {
  .signup-group {
    > span,
    .btn-signup-now {
      font-size: 16px;
    }
  }

  form {
    > .password {
      > .warning {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
