@import "../../../styles.scss";
* {
  line-height: 30px;
  list-style-type: none;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  section {
    flex: 1;
    padding-inline: $paddingInline;
    max-width: 1440px;
    padding-bottom: 2rem;
  }
}

.app-nav-bar {
  position: sticky;
  height: 96px;
  top: 0;
  background-color: black;
  width: 100%;
}

h1 {
  font-size: 48px;
  padding-block: 4rem 2rem;
}

h2 {
  padding-block: 1rem;
  font-size: 30px;
}

h3 {
  padding-block: 1rem;
  font-size: 25px;
}

footer {
  width: 100%;
  background-color: #000000;
  height: 300px;
  color: white;

  > section {
    padding-top: 2rem;
    margin: auto;
    max-width: 1440px;
    padding-inline: $paddingInline;
  }
}

.help {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(118, 118, 118);
  gap: 2rem;
  > button {
    padding: 0.35rem 1rem;
    background-color: white;
    height: 50px;
    border-radius: 8px;
    border: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transition: all 300ms ease-in-out;
    }
  }
}

.footer-link {
  display: block;
  width: fit-content;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
  }
}

@media screen and (width<615px) {
  main {
    padding-inline: $paddingInlineMobile;
  }
}
