.glide {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.glide__slide {
  text-align: center;
  max-width: 242.8px;
  pointer-events: auto !important;
}

.glide__slide img {
  width: 100%;
  border-radius: 12px;
}

.glide__arrows {
  display: flex;
  justify-content: space-between;
}
.glide__arrow--left {
  left: -3em;
}
.glide__arrow--right {
  right: -3em;
}

.single-video {
  > .video-and-duration {
    width: 298.96px;
    border-radius: 12px;
    aspect-ratio: 16 / 9 !important;
    position: relative;
    > .hover-img {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
    }
    > img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  > div {
    p {
      font-size: 20px;
      color: #818999;
    }
  }
}
.title-watch-now {
  text-align: left;
}

li {
  div {
    img {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.video-title {
  text-transform: capitalize;
}

.play-movie {
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  gap: 1rem;
  > img {
    width: 30px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(135deg) brightness(105%) contrast(101%);
  }

  > span {
    color: white;
  }
}

.video-and-duration:hover {
  > .hover-img {
    display: block !important;
  }
  .play-movie > img {
    filter: invert(19%) sepia(69%) saturate(4875%) hue-rotate(237deg) brightness(88%) contrast(98%);
    transition: all 250ms ease-in-out;
  }
}

.watch-movie {
  color: #2e3edf;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    transition: all 250ms ease-in-out;
  }
}

button {
  > img {
    width: 23px;
    height: auto;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(135deg) brightness(105%) contrast(101%);
  }
  &:hover {
    > img {
      filter: invert(19%) sepia(69%) saturate(4875%) hue-rotate(237deg) brightness(88%) contrast(98%);
      transition: all 300ms ease-in-out;
    }
  }
}

@media screen and (width<1000px) {
  .single-video {
    > .video-and-duration {
      width: 287.33px;
      aspect-ratio: 16 / 9 !important;
    }
  }
  .glide__arrows {
    padding: 3px 6px !important;
  }
  .glide__arrow--left {
    left: -2.5em !important;
  }
  .glide__arrow--right {
    right: -2.5em !important;
  }
}

@media screen and (width<950px) {
  .single-video {
    > .video-and-duration {
      width: 268.5px;
      aspect-ratio: 16 / 9 !important;
    }
  }
}

@media screen and (width<885px) {
  .single-video {
    > .video-and-duration {
      width: 250.5px;
      aspect-ratio: 16 / 9 !important;
    }
  }
}

@media screen and (width<615px) {
  .glide__arrows {
    display: none !important;
  }
  .single-video {
    > .video-and-duration {
      width: 200.5px;
      aspect-ratio: 16 / 9 !important;
    }
  }
}
