@import "../../../styles.scss";
footer {
  text-align: center;
  padding-block: 2rem;
  padding-inline: $paddingInline;
  > div {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    > a {
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media screen and (width<390px) {
  footer {
    padding-inline: $paddingInlineMobile;
    > div {
      gap: 2rem;
      > a {
        font-size: 16px;
      }
    }
  }
}
