{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Videoflix</title>
    <meta name="description" content="A brief description" />

    <!-- Include CSS files -->
    <link
      rel="preload"
      as="style"
      href="{% static 'styles/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />
  </head>
  <html>
    <body>
      {% block content %} {% endblock %} {% include "partials/_signature.html "
      %}
    </body>
  </html>
</html>
