{% extends 'base.html' %} {% load static %} {% block content %}
<div class="logo-videoflix">
  <img src="{% static 'img/logo.svg' %}" alt="logo" />
</div>
<p>
  Dear <span style="color: #2e3edf; font-weight: 500">{{ username }}</span>,
</p>
<p>
  Thank you for registering with
  <span style="color: #2e3edf; font-weight: 500">Videoflix</span>. To complete
  your registration and verify your email address, please click the link below:
</p>
<a class="reset-link" href="{{ activate_link }}">Activate account</a>
<p>
  If you did not sign up for
  <span style="color: #2e3edf; font-weight: 500">Videoflix</span>, please ignore
  this email.
</p>

<p>Happy Streaming! 🎬</p>
<p>Best regards,<br />Your Videoflix team!</p>
{% endblock %}
