<main>
  <app-nav-bar logo="logo.svg" />
  <app-wrapper class="container">
    <div class="form-group">
      <h1>Sign up</h1>
      <form>
        <input
          [(ngModel)]="email"
          type="text"
          name="email"
          placeholder="Email Address"
        />
        <div class="password">
          <input
            [(ngModel)]="password"
            type="{{ type }}"
            placeholder="Enter a password"
            name="password"
          />

          <img
            (click)="showPassword()"
            src="assets/img/{{ icon }}"
            alt="show password"
          />
        </div>
        <div class="password">
          <input
            [(ngModel)]="confirmPassword"
            type="{{ type_confirm }}"
            name="confirmPassword"
            placeholder="Confirm password"
          />
          <img
            (click)="showConfirmPassword()"
            src="assets/img/{{ icon_confirm }}"
            alt="hide password"
          />
          <div class="warning">
            <!-- <img src="assets/img/warning.svg" alt="" /> -->
            <p>Passwords must match</p>
          </div>
        </div>
        <button type="submit" (click)="signUp()">Get Started</button>
      </form>
    </div>
  </app-wrapper>
  <app-footer />
</main>
