<main>
  <app-nav-bar logo="logo.svg" />
  <app-wrapper class="container">
    <div class="form-group">
      <h1>Sign up</h1>
      <form (ngSubmit)="signUp()" #form="ngForm">
        <div>
          <input
            [(ngModel)]="email"
            #emailInput="ngModel"
            type="text"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            name="email"
            placeholder="Email Address"
          />
          <div class="warning">
            <!-- <img src="assets/img/warning.svg" alt="" /> -->
            <p>{{ errorType === "email" ? errorMessage : "" }}</p>
          </div>
        </div>
        <div class="password">
          <input
            [(ngModel)]="password"
            #passwordInput="ngModel"
            required
            type="{{ type }}"
            placeholder="Enter a password"
            name="password"
          />

          <img
            (click)="showPassword()"
            src="assets/img/{{ icon }}"
            alt="show password"
          />
        </div>
        <div class="password">
          <input
            [(ngModel)]="confirmPassword"
            #passwordConfirmInput="ngModel"
            required
            type="{{ type_confirm }}"
            name="confirmPassword"
            placeholder="Confirm password"
          />
          <img
            (click)="showConfirmPassword()"
            src="assets/img/{{ icon_confirm }}"
            alt="hide password"
          />
          <div class="warning">
            <!-- <img src="assets/img/warning.svg" alt="" /> -->
            <p>{{ errorType === "password" ? errorMessage : "" }}</p>
          </div>
        </div>
        <button
          [class.hover_effect]="
            emailInput.valid &&
            passwordInput.valid &&
            passwordConfirmInput.valid
          "
          [disabled]="
            !passwordInput.valid ||
            !emailInput.valid ||
            !passwordConfirmInput.valid
          "
          [style.opacity]="
            !passwordInput.valid ||
            !emailInput.valid ||
            !passwordConfirmInput.valid
              ? '0.75'
              : '1'
          "
          type="submit"
        >
          Get Started
        </button>
      </form>
    </div>
  </app-wrapper>
  <app-footer />
</main>
