<main>
  <app-nav-bar logo="logo.svg" />
  <app-wrapper class="container">
    <div class="form-group">
      <h1>Forgot your password?</h1>
      <p>We will send you an email with instructions to reset your password</p>
      <form (ngSubmit)="sendEmailResetPassword()" #form="ngForm">
        <div>
          <input
            [(ngModel)]="email"
            #emailInput="ngModel"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            type="email"
            name="email"
            placeholder="Email Address"
          />
          <p class="warning">
            {{ errorType === "email" ? errorMessage : "" }}
          </p>
        </div>
        <button
          [class.hover_effect]="emailInput.valid"
          [disabled]="!emailInput.valid"
          [style.opacity]="!emailInput.valid ? '0.75' : '1'"
          type="submit"
        >
          Send Email
        </button>
      </form>
    </div>
  </app-wrapper>
  <app-footer />
</main>
