main {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url("/assets/img/signup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #2e3edf;
  line-height: 48px;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 1rem;
  > div {
    width: 100%;
    text-align: center;
  }
  > div {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    > .warning {
      max-width: 408px;
      width: 100%;
      display: flex;
      gap: 1rem;
      position: absolute;
      bottom: -1.5rem;
      color: #ff002e;
    }
    > input {
      max-width: 408px;
      width: 100%;
      color: #2e3edf;
      border-radius: 12px;
      height: 48px;
      border: 2px solid #2e3edf;
      padding: 1rem 1.5rem;
      outline: none;
      &::placeholder {
        color: #2e3edf;
      }
    }
  }

  > button {
    border: transparent;
    color: #ffffff;
    font-weight: 700;
    background-color: #2e3edf;
    border-radius: 40px;
    padding: 0.65rem 1rem;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transition: all 250ms ease-in-out;
    }
  }
}

.form-group {
  width: 100%;
  > p {
    text-align: center;
    line-height: 23.44px;
    margin-bottom: 1rem;
  }
}

@media screen and (width<515px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .form-group {
    > p {
      font-size: 16px;
    }
  }
}
