<main>
  <app-nav-bar logo="logo.svg" />
  <app-wrapper class="container">
    <div class="form-group">
      <h1>Forgot your password?</h1>
      <p>We will send you an email with instructions to reset your password</p>
      <form>
        <div>
          <input
            [(ngModel)]="email"
            type="email"
            name="email"
            placeholder="Email Address"
          />
          <p class="warning">No account found with this email</p>
        </div>
        <button type="submit" (click)="sendEmailResetPassword()">
          Send Email
        </button>
      </form>
    </div>
  </app-wrapper>
  <app-footer />
</main>
