<div class="video-container">
  <div class="video-title">
    <span>{{ currentVideo?.title }}</span>
    <img src="assets/img/close_small.svg" alt="exit" />
  </div>
  <video
    #videoPlayer
    controls
    crossorigin
    playsinline
    poster="{{ currentVideo?.poster }}"
    [attr.data-plyr-config]="{
        previewThumbnails: { enabled: true, src: this.currentVideo?.vtt_file },
      }"
  >
    <source [src]="currentVideo?.video_file_hd480" type="video/mp4" size="480" />
    <source [src]="currentVideo?.video_file_hd720" type="video/mp4" size="720" />
    <source [src]="currentVideo?.video_file_hd1080" type="video/mp4" size="1080" />
    <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default />
    <track kind="captions" label="Deutsch" srclang="de" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt" default />
    <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt" />
  </video>
</div>
