@import "../../../styles.scss";

nav {
  padding-block: 1.5rem;
  > div {
    max-width: 1440px;
    padding-inline: $paddingInline;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.loco-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  display: none;
}

button {
  display: flex;
  gap: 0.5rem;
  background-color: #2e3edf;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  border: transparent;
  &:hover {
    opacity: 0.8;
    transition: all 250ms ease-in-out;
  }
}

@media screen and (width<615px) {
  nav {
    > div {
      padding-inline: $paddingInlineMobile;
    }
  }
  .loco-icon {
    display: block;
  }
  .symbol {
    display: none;
  }
}
