<nav>
  <div>
    <div>
      <img
        (click)="onReturnToStartPage()"
        class="logo loco-icon"
        src="assets/img/symbol.svg"
        alt="Logo"
      />
      <img
        (click)="onReturnToStartPage()"
        class="logo symbol"
        [src]="getLogoImage()"
        alt="Logo"
      />
    </div>
    <!-- <input
      *ngIf="isAuthenticated === true && is_watching === false"
      type="text"
      name="search"
      id="search"
      placeholder="search"
    /> -->
    <!-- @if(isAuthenticated === true){
    <ul class="user-menu">
      <li *ngIf="is_watching === true">
        <img src="assets/img/arrow_left.svg" alt="Home" />
        <a routerLink="/video-offer">home</a>
      </li>
      <li>
        <img src="assets/img/user.svg" alt="User" />
        <a href="">username</a>
      </li>
      <li *ngIf="isAuthenticated === true && is_watching === false">
        <img src="assets/img/upload.svg" alt="upload" />
        <a href="">upload</a>
      </li>
    </ul>
    } -->
    <button (click)="logUserInOrOut()" *ngIf="login === false">
      @if (logOut !== '') {
      <img [src]="getLogOutImage()" alt="Log out" />
      }
      <span> {{ btnText }} </span>
    </button>
  </div>
</nav>
