<main [class.loading-background]="isLoading">
  <app-nav-bar logo="logo.svg" logOut="logout.svg" btnText="Log out" />
  @if (isLoading) {
  <app-spinner />
  } @else {
  <section>
    <video
      autoplay
      muted
      loop
      playsinline
      #backgroundVideo
      class="background-video"
    >
      <source src="assets/videos/back.mp4" type="video/mp4" />
    </video>
    <div class="container">
      <article class="current-video-description">
        <h1>Breakout</h1>
        <p class="description">
          In a high-security prison, a wrongly convicted man formulates a
          meticulous plan to break out and prove his innocence. He must navigate
          a web of alliances and betrayals to reclaim his freedom and expose the
          truth.
        </p>
        <button>
          <img src="assets/img/play_arrow.svg" alt="play" />
          <span routerLink="/video-player" (click)="updateRecentVideo()"
            >Play Now</span
          >
        </button>
      </article>
      <div class="category-list">
        <app-video-category
          [videos]="recentVideos"
          categoryTitle="New on Videoflix"
        />
        <!-- <app-video-category [videos]="videos" categoryTitle="Drama" />
        <app-video-category [videos]="videos" categoryTitle="Documentary" /> -->
      </div>
    </div>
    <footer>
      <div>
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/legal-notice">Legal Notice</a>
      </div>
    </footer>
  </section>
  <div class="hero-footer">
    <div>
      <a></a>
      <a></a>
    </div>
  </div>
  }
</main>
